<div ng-controller="raids">
	<div class="jumbotron">
		<div class="container">
			<h1>Raids</h1>
			<p>General Description of Raids</p>
			<p><a href="https://www.youtube.com/watch?v=YbItL4qcugk" class="btn btn-primary btn-lg" role="button">Dev Speak Video &raquo;</a></p>
		</div>
	</div>
	<div class="clearfix" ng-repeat-start="raid in raids" ng-if="$even"></div> <!-- this is new !-->
	<div class="col-xs-6" ng-repeat-end> <!-- this is new !-->
		<h2>{{raid.name}}</h2>
		<p ng-bind-html="raid.description.md2html()"></p> <!-- this is new !-->
		<p><a class="btn btn-default" href="#raid/{{$index}}">View guide &raquo;</a></p>
	</div>
	<div class="clearfix"></div>  <!-- this is new !-->
	<div ng-if="isLoggedIn && permission >= 10">  <!-- this is new !-->
		<hr/>
		<h2>Add Raid</h2>
		<div class="form-group">
			<label>Name</label>
			<input class="form-control" ng-model="raid.name"/>
		</div>
		<div class="form-group">
			<label>Description</label>			
			<div id="wmd-button-bar"></div>
			<textarea wmd class="form-control" id="wmd-input" ng-model="raid.description"></textarea>
		</div>
		<div class="text-right">
			<button class="btn btn-primary" ng-click="save()">Save</button>
		</div>
		<hr/>
		<h2>Preview</h2>
		<h2>{{raid.name}}</h2>
		<p ng-bind-html="raid.description.md2html()"></p>
	</div>
</div>