<div ng-controller="raids">
	<div class="jumbotron">
		<div class="container">
			<h1>Raids</h1>
			<p>General Description of Raids</p>
			<p><a href="https://www.youtube.com/watch?v=YbItL4qcugk" class="btn btn-primary btn-lg" role="button">Dev Speak Video &raquo;</a></p>
		</div>
	</div>
	<div class="clearfix" ng-repeat-start="raid in raids" ng-if="$even"></div>
	<div class="col-xs-6" ng-repeat-end>
		<h2>{{raid.name}}</h2>
		<p>{{raid.description}}</p>
		<p><a class="btn btn-default" href="#raid/{{$index}}">View guide &raquo;</a></p>
	</div>
</div>