<div ng-controller="character">
	<!-- Modal -->
	<div class="modal fade" id="character" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">
						Character
						<image class="character-icon" ng-if="faction.name" ng-src="images/icons/factions/{{faction.name}}.png"/>
						<image class="character-icon" ng-if="race.name" ng-src="images/icons/races/{{race.name}}.png"/>
						<image class="character-icon" ng-if="class.name" ng-src="images/icons/classes/{{class.name}}.png"/>
						<image class="character-icon" ng-if="path.name" ng-src="images/icons/paths/{{path.name}}.png"/>			
					</h4>							
				</div>
				<div class="modal-body">
					<input class="form-control" type="text" ng-model="charactername" placeholder="Character Name"/>
					<h3 class="text-center">Faction</h3>
					<div class="text-center pull-left" style="width:50%;" ng-repeat="faction in factions">
						<div class="selectable">
							<image ng-class="$parent.faction == faction ? 'selected' : ''" ng-click="($parent.race = '') || ($parent.class = '') || (($parent.faction == faction) ? ($parent.faction = '') : ($parent.faction = faction))" title="{{faction.name}} - {{faction.description}}" ng-src="images/icons/factions/{{faction.name}}.png"/>									
						</div>
					</div>
					<h3 class="text-center">Race</h3>
					<span ng-repeat="faction in factions">
						<div class="text-center pull-left" style="width:12.5%;" ng-repeat="race in faction.races">
							<div class="selectable">
								<image ng-class="$parent.$parent.race == race ? 'selected' : ''" ng-click="($parent.$parent.class = '') || (($parent.$parent.race == race) ? ($parent.$parent.race = '') : ($parent.$parent.race = race))" title="{{race.name}} - {{race.description}}" ng-src="images/icons/races/{{race.name}}.png"/>
								<div ng-if="$parent.faction != $parent.$parent.faction" class="disabled"></div>
							</div>
						</div>
					</span>							
					<h3 class="text-center">Class</h3>
					
					
					<div class="text-center pull-left" style="width:16.6%;" ng-repeat="class in classes">
							<div class="selectable">
								<image ng-class="$parent.class == class ? 'selected' : ''" ng-click="(($parent.class == class) ? ($parent.class = '') : ($parent.class = class))" title="{{class.name}} - {{class.description}}" ng-src="images/icons/classes/{{class.name}}.png"/>
								<div ng-if="!$parent.race || $parent.race.classes.indexOf(class.name)==-1" class="disabled"></div>
							</div>
					</div>
					<h3 class="text-center">Path</h3>
					<div class="text-center pull-left" style="width:25%;" ng-repeat="path in paths">
						<div class="selectable">
							<image ng-class="$parent.path == path ? 'selected' : ''" ng-click="(($parent.path == path) ? ($parent.path = '') : ($parent.path = path))" title="{{path.name}} - {{path.description}}" ng-src="images/icons/paths/{{path.name}}.png"/>
						</div>
					</div>
					<h3 class="text-center">Tradeskills</h3>
					<div id="professions"> 
						<span ng-repeat="tradeskill in tradeskills">
							<div title="{{profession.description}}" class="text-left pull-left" style="width:20%;" ng-repeat="profession in tradeskill.professions">
								<input type="checkbox"  ng-model="profession.selected" ng-disabled="selectedProfessions().length >= 2 && !profession.selected"/>
								{{profession.name}} 
							</div>
						</span>
					</div>		
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveCharacter()">Save</button>
				</div>
			</div>
		</div>
	</div>
</div>		