[ng-view] {
	margin-top : 70px;
}

#loader {
    position : fixed;
    top : 0;
    left : 0;
    width : 100%;
    height : 100%;
    background : rgba(0, 0, 0, 0.5);
    z-index : 1000000;
    display : none;
}

#loader img {
    position : fixed;
    left : 50%;
    top : 50%;
    margin-top : -16px;
    margin-left : -16px;
}

a {
	cursor : pointer;
}

.character-icon{
position: relative;
}
.character-icon .faction{
position: absolute;
width: 100%;
height: 100%;
}
.character-icon .race{
position: absolute;
width: 30%;
height: 30%;
left:0;
top:0;
}
.character-icon .class{
position: absolute;
width: 30%;
height: 30%;
right:0;
top:0;
}
.character-icon .path{
position: absolute;
width: 30%;
height: 30%;
left:0;
bottom:0;
}

#characterpreview{
width:100px;
height: 100px;
}

#mapimage img{
width: 850px;
height: 461px;
}

