<div ng-controller="classes">
	<div class="jumbotron">
		<h1>Classes</h1>
		<p>General Description of classes</p>
		<p><a href="https://www.youtube.com/watch?v=hCaIxmffFWY&list=UUhg9HfiT-DbivZnnMtjPUGw" class="btn btn-primary btn-lg" role="button">Wildstar Flick &raquo;</a></p>
	</div>
	<div class="clearfix" ng-repeat-start="class in classes" ng-if="$index%3==0"></div>
	<div class="col-xs-4" ng-repeat-end>			
		<h2>{{class.name}}</h2>
		<p ng-bind-html="class.description.md2html()"></p>
		<p><a class="btn btn-default" href="#/classes/{{$index}}" role="button">View guide &raquo;</a></p>		
	</div>
</div>
