<div ng-init="indices=indices.concat([$index])"></div>
<p>
	<div ng-if="my.editing != comment">
		{{comment.comment}} 
		<a ng-if="comment.editable" ng-click="edit(comment, indices)">Edit</a>
	</div>
	<div ng-if="my.editing == comment" class="form-group">
		<input ng-model="my.comment" class="form-control"/>
	</div>
	<button ng-if="my.editing == comment" ng-click="save()" class="btn btn-primary">Save</button>
	<button ng-if="my.editing == comment" ng-click="cancel()" class="btn btn-default">Cancel</button>
</p>
<p>{{comment.time | date}}</p>
<blockquote ng-repeat="comment in comment.comments" ng-include="'directives/comments/subview.html'"></blockquote>
<div>
	<button ng-if="isLoggedIn && permission >= 5 && indices != my.indices" ng-click="add(indices)" class="btn btn-default">Add Comment</button>
	<div ng-if="!my.editing && indices == my.indices" class="form-group">
		<input ng-model="my.comment" class="form-control"/>
	</div>
	<button ng-if="!my.editing && indices == my.indices" ng-click="save(comment.comments)" class="btn btn-primary">Save</button>
	<button ng-if="!my.editing && indices == my.indices" ng-click="cancel()" class="btn btn-default">Cancel</button>
</div>