<div ng-controller="character">
	<!-- Modal -->
	<div class="modal fade" id="character" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">
						Character
						<image class="character-icon" ng-if="faction.name" ng-src="images/icons/factions/{{faction.name}}.png"/>
						<image class="character-icon" ng-if="race.name" ng-src="images/icons/races/{{race.name}}.png"/>
						<image class="character-icon" ng-if="class.name" ng-src="images/icons/classes/{{class.name}}.png"/>
						<image class="character-icon" ng-if="path.name" ng-src="images/icons/paths/{{path.name}}.png"/>			
					</h4>							
				</div>
				<div class="modal-body">
					<input class="form-control" type="text" ng-model="character.name" placeholder="Character Name"/>
					<h3 class="text-center">Faction</h3>
					<div class="text-center pull-left" style="width:50%;" ng-repeat="faction in factions">
						<div class="selectable">
							<image ng-class="$parent.character.faction == faction ? 'selected' : ''" ng-click="($parent.character.race = '') || ($parent.character.class = '') || (($parent.character.faction == faction) ? ($parent.character.faction = '') : ($parent.character.faction = faction))" title="{{faction.name}} - {{faction.description}}" ng-src="images/icons/factions/{{faction.name}}.png"/>									
						</div>
					</div>
					<h3 class="text-center">Race</h3>
					<div class="text-center pull-left" style="width:12.5%;" ng-repeat="race in races">
						<div class="selectable">
							<image ng-class="$parent.character.race == race ? 'selected' : ''" ng-click="($parent.character.class = '') || (($parent.character.race == race) ? ($parent.character.race = '') : ($parent.character.race = race))" title="{{race.name}} - {{race.description}}" ng-src="images/icons/races/{{race.name}}.png"/>
							<div ng-if="$parent.character.faction.races.indexOf(race.name)==-1" class="disabled"></div>
						</div>
					</div>
					<h3 class="text-center">Class</h3>
					
					
					<div class="text-center pull-left" style="width:16.6%;" ng-repeat="class in classes">
							<div class="selectable">
								<image ng-class="$parent.character.class == class ? 'selected' : ''" ng-click="(($parent.character.class == class) ? ($parent.character.class = '') : ($parent.character.class = class))" title="{{class.name}} - {{class.description}}" ng-src="images/icons/classes/{{class.name}}.png"/>
								<div ng-if="!$parent.character.race || $parent.character.race.classes.indexOf(class.name)==-1" class="disabled"></div>
							</div>
					</div>
					<h3 class="text-center">Path</h3>
					<div class="text-center pull-left" style="width:25%;" ng-repeat="path in paths">
						<div class="selectable">
							<image ng-class="$parent.character.path == path ? 'selected' : ''" ng-click="(($parent.character.path == path) ? ($parent.character.path = '') : ($parent.character.path = path))" title="{{path.name}} - {{path.description}}" ng-src="images/icons/paths/{{path.name}}.png"/>
						</div>
					</div>
					<h3 class="text-center">Tradeskills</h3>
					<div id="professions"> 
						<div title="{{profession.description}}" class="text-left pull-left" style="width:20%;" ng-repeat="profession in professions">
							<input type="checkbox"  ng-model="profession.selected" ng-disabled="selectedProfessions().length >= 2 && !profession.selected"/>
							{{profession.name}} 
						</div>
					</div>		
					<div class="clearfix"></div>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-primary" ng-click="saveCharacter()">Save</button>
				</div>
			</div>
		</div>
	</div>
	<div class="modal fade" id="remove">
		<div class="modal-dialog">
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
					<h4 class="modal-title">Delete Character</h4>
				</div>
				<div class="modal-body">
					<p>Are you sure you would like to delete that character?</p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">No</button>
					<button type="button" class="btn btn-primary" ng-click="removeCharacter()">Yes</button>
				</div>
			</div>
			<!-- /.modal-content -->
		</div>
		<!-- /.modal-dialog -->
	</div>
	<!-- /.modal -->
</div>		