<div ng-controller="dungeons">
	<div class="jumbotron">
		<div class="container">
			<h1>Dungeons</h1>
			<p>General Description of Dungeons</p>
		</div>
	</div>
	<div class="col-md-4" ng-repeat="dungeon in dungeons">
		<h2>{{dungeon.name}}</h2>
		<p>{{dungeon.description}}</p>
		<p><a class="btn btn-default" href="#/dungeon/{{$index}}" role="button">View guide &raquo;</a></p>
	</div>
	
	<div class="clearfix" ng-if="isLoggedIn && permission >= 10">
		<hr/>
		<h2>Add Dungeon</h2>
		<div class="form-group">
			<label>Title</label>
			<input class="form-control" ng-model="dungeon.title"/>
		</div>
		<div class="form-group">
			<label>Description</label>			
			<div id="wmd-button-bar"></div>
			<textarea wmd class="form-control" id="wmd-input" ng-model="dungeon.description"></textarea>
		</div>
		<div class="text-right">
			<button class="btn btn-primary">Save</button>
		</div>
		<hr/>
		<h2>Preview</h2>
		<h2>{{dungeon.title}}</h2>
		<p ng-bind-html="dungeon.description.md2html()"></p>
	</div>	
</div>