<div ng-controller="home">
   <div class="container">

      <div class="row row-offcanvas row-offcanvas-right">  <!-- use this page format on the main page for the teamspeak viewer functionality -->
        <div class="col-xs-12 col-sm-9">   <!-- need this line of code too for the main page and closing tag obviously -->
          <div class="jumbotron">
            <h1>Guides Wildstar</h1>
            <p>Come learn how to not completely suck at this game with us.</p>
          </div>
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Story 1</h2>
              <p>Some bs about a recent patch</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Story 2</h2>
              <p>Maybe some news on top guilds raid progression</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Story 3</h2>
              <p>References to our top guides and updates to them</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
          <div class="row">
            <div class="col-6 col-sm-6 col-lg-12">
              <h2>Story 4</h2>
              <p>Twitch and Reddit links and information</p>
              <p><a class="btn btn-default" href="#" role="button">View details &raquo;</a></p>
            </div><!--/span-->
          </div><!--/row-->
        </div><!--/span-->
        <div class="col-xs-6 col-sm-3 sidebar-offcanvas" id="sidebar" role="navigation">  <!-- need this line of code too for main page and closing tag too obviously -->
          <div class="list-group">
            <a href="#" class="list-group-item active">Placeholder for a feature that will display our teamspeak server and who is on etc</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
            <a href="#" class="list-group-item">Link</a>
          </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2014</p>
      </footer>

    </div><!--/.container-->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script> -->
<!--     <script src="../../dist/js/bootstrap.min.js"></script> -->
<!-- <img class="image" src="http://www.wildstar-online.com/img/articles/full/battleground2.jpg"/> -->
	</div> 