<div ng-controller="raids">
<!-- 	<div ng-repeat="raid in raids | sort:'name'">
		<h4>
			{{raid.name}}
		</h4>
		<ul ng-repeat="size in raid.size | sort">
			<li>{{size}}</li>
		</ul>
	</div> -->
	 <body>


    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
      <div class="container">
        <h1>Raids</h1>
        <p>General Description of Raids</p>
        <p><a href="https://www.youtube.com/watch?v=YbItL4qcugk" class="btn btn-primary btn-lg" role="button">Dev Speak Video &raquo;</a></p>
      </div>
    </div>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-6">
          <h2>Datascape</h2>
          <p>General Description</p>
          <p><a class="btn btn-default" href="#" role="button">View guide &raquo;</a></p>
        </div>
        <div class="col-md-6">
          <h2>Genetic Archives</h2>
          <p>General Description</p>
          <p><a class="btn btn-default" href="#" role="button">View guide &raquo;</a></p>
       </div>
      </div>

      <hr>

      <footer>
        <p>&copy; yung_gods 2014</p>
      </footer>
    </div> <!-- /container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
<!--     <script src="../../dist/js/bootstrap.min.js"></script> -->
  </body>
<!-- <img class="image" src="http://www.wildstar-online.com/img/articles/full/battleground2.jpg"/> -->
</div>